

/* fluid layout */
.div-container {
    color: #f9f6f0;
    font-family: "Trebuchet MS";
    font-weight: bold;
    width: 60%;
    margin: 0;
    padding: 0;
    /* background-color: #828282; */
}


img {
    width: 100%;
    height: auto;
}


@media (max-width: 600px) {
    .div-container {
        width: 100%;
        /* background-color: red; */
    }
}

body {
    background-color: #000000;
    margin: 0%;
    padding: 0;
}


/* CSS flex box - flexible box layout

display: flex activates the flexbox

flex-direction: row// default value, column/row-reverse,
column-reverse items are arranged in a row.

justify-content: aligns items horizontally.

align-items: align items vertically.

flex-wrap: allows items to wrap to the next line.

gap: adds space between items

*/

.flex-container {
    color: #f9f6f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ff4500;
    border-bottom: 6px solid #15ab15;
    flex-wrap: wrap;
    gap: 20%;
}

.item {
    /* background-color: #f11612; */
    flex: 1; /*This will make the items flexible*/
    font-family: 'Trebuchet MS';
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}


/* CSS Grid Layout
display: grid activates the grid layout.

grid-template-columns: defines the number of columns and their sizes.

grid-template-rows: defines the number of rows and their sizes.

gap: adds space between rows and columns.

grid-template-areas: defines named areas for grid items.

justify-items-align: items horizontally within their grid area.

*/

.grid-container {
  display: grid;
  grid-template-areas: 'header header header' 'menu main right' 'footer footer footer';
  grid-gap: 10px;
  padding: 10px;  
}


.header {
    grid-area: header;
    /* background-color: #571304; */
}

/* .menu {
    grid-area: menu;
    background-color: #1072f2;
} */

.main {
    grid-area: main;
    /* background-color: #31dc4b; */
}

.right {
    grid-area: right;
    background-color: #f73dbf;
}

.footer {
    color: #f9f6f0;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    grid-area: footer;
    background-color: #b0c4de00;
    text-align: center;
}


@media (max-width: 600px) {
    .grid-container {
        grid-template-areas: 'header'
        'menu'
        'main'
        'right'
        'footer';
    }
    .grid-header{grid-area: header;}
    .grid-menu{grid-area: menu;}
    .grid-main{grid-area: main;}
    .grid-right{grid-area: right;}
    .grid-footer{grid-area: footer;}
}